# Maven
target/
*.jar
*.war
*.ear
.claude

# NetBeans
nbproject/private/
nb-configuration.xml
nbbuild/
nbdist/

# IntelliJ
.idea/
*.iml

# Spring Boot
*.log
spring.log

# OS
.DS_Store
Thumbs.db

# Env / secrets
*.env
application-local.properties
